BOOKING_DATABASE_URL=postgres://booking:booking@localhost:55433/booking?sslmode=disable
BOOKING_GRPC_ADDRESS=:50053
USER_DATABASE_URL=postgres://user:user@localhost:55434/users?sslmode=disable
USER_GRPC_ADDRESS=localhost:50051
INVENTORY_DATABASE_URL=postgres://inventory:inventory@localhost:55435/inventory?sslmode=disable
INVENTORY_GRPC_ADDRESS=localhost:50052
REDIS_ADDRESS=localhost:6379
NATS_URL=nats://localhost:4222
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
GATEWAY_HTTP_ADDRESS=:8080
BOOKING_GRPC_TARGET=localhost:50053
USER_GRPC_TARGET=localhost:50051
